<template>
  <div>
    <h1>API CONNET</h1>
    <!-- <h2>{{ apidata }}</h2> -->
    <v-btn color="success" @click="newItem()">NewItem</v-btn>
    <v-row>
      <v-col cols="4" v-for="(item, index) in apidata" :key="index">
        <v-card width="350">
          <v-img src="../assets/phun.jpeg"></v-img>
          <v-card-title primary-title>
            <span>{{ item.username }}</span>
          </v-card-title>
          <v-card-actions>
            <v-btn text color="info" @click="editItem(item)">edit</v-btn>
            <v-btn color="error" @click="saveDelete(item._id)">delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="daialogedit" max-width="500px">
      <v-card>
        <v-card-title primary-title> Register </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                username="username"
                label="username"
                id="username"
                v-model="postdata.username"
              >
              </v-text-field>
              <v-text-field
                password="password"
                label="password"
                id="password"
                v-model="postdata.password"
              >
              </v-text-field>
              <v-text-field
                firstname="firstname"
                label="firstname"
                id="firstname"
                v-model="postdata.firstname"
              >
              </v-text-field>
              <v-text-field
                lastname="lastname"
                label="lastname"
                id="lastname"
                v-model="postdata.lastname"
              >
              </v-text-field>
              <v-text-field
                role="role"
                label="role"
                id="role"
                v-model="postdata.role"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeData()">cancel</v-btn>
          <v-btn text color="info" @click="saveSelect()">save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //   apidata: [],
      id: "",
      apidata: [],
      daialogedit: "true",
      postdata: {
        username: "",
        password: "",
        firstname: "",
        lastname: "",
        role: "",
        Isactive: "false",
      },
      postdatafault: {
        username: "",
        password: "",
        firstname: "",
        lastname: "",
        role: "",
        Isactive: "false",
      },
    };
  },
  created() {
    this.getData();
  },
  computed: {
    savemode() {
      return this.id == "" ? "New Item" : "Edit Item";
    },
  },
  methods: {
    newItem() {
      this.id = "";
      this.postdata = { ...this.postdata };
      this.daialogedit = true;
    },
    editItem(item) {
      this.id = item._id;
      this.postdata = item;
      this.daialogedit = true;
    },
    closeData() {
      this.id = "";
      this.postdata = { ...this.postdata };
      this.daialogedit = false;
    },
    saveSelect() {
      if (this.id != "") {
        this.savePutdata();
      } else  this.savePostdata();
    },
    getData() {
      this.axios.get("http://localhost:3000/api/v1/users").then((response) => {
        console.log(response);
        this.apidata = response.data;
      });
    },
    async savePostdata() {
      try {
        const { data } = await this.axios.post(
          "http://localhost:3000/api/v1/register",
          this.postdata
        );
        console.log(data);
        alert("crete complete");
        this.getData();
        this.closeData();
      } catch (error) {
        console.log(error);
        alert("error");
      }
    },
    async savePutdata() {
      try {
        const { data } = await this.axios.put(
          "http://localhost:3000/api/v1/users/" + this.id,
          this.postdata
        );
        console.log(data);
        alert("update complete");
        this.getData();
        this.closeData();
      } catch (error) {
        console.log(error);
        alert("error");
      }
    },
    async saveDelete (item) {
        try {
        if(confirm('delete it?')){
            const {data} = await this.axios.delete("http://localhost:3000/api/v1/users/" + item)
            console.log(data);
            alert("delete complete")
            this.getData();
            this.closeData();
            
        }
        } catch (error) {
            console.log(error);
            alert('error')
        }
    }
  },
}
</script>

<style>
</style>