<template>
  <div>
    <h1>CART</h1>
    <div v-if="cartItems.length === 0">
      <p>No items in the cart.</p>
    </div>
    <div v-else>
      <v-row>

        <v-col v-for="(order, index) in cartItems" :key="index._id" cols="12" sm="6" md="4">
          <v-card width="300">
            <v-img src="../assets/cat.jpeg"></v-img>
            <v-card-text v-for="item in order.items" :key="item._id">
              <p>Product Name:  {{ item.productName }}</p> 
              <p>Total:  {{ item.total }}</p>
              <p>Quantity: {{ item.quantity }}</p>
              <p>Status: {{ order.status }}</p>
              <!-- <p>Status: {{ item.status }}</p> -->
              <!-- Add more fields as needed -->
            </v-card-text>
          </v-card>
          <!-- <p>Status: {{ item.status }}</p> -->
        </v-col>

      </v-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
// import jwtDecode from "jwt-decode";

export default {
  data() {
    return {
      cartItems: []
    };
  },
  created() {
    this.fetchCartData();
  },
  methods: {
    getAuthHeader() {
      const token = localStorage.getItem("token");
      return token ? { Authorization: `Bearer ${token}` } : {};
    },
    async fetchCartData() {
      try {
        const response = await axios.get('/cart', {  headers: this.getAuthHeader(), });
        this.cartItems = response.data; // เปลี่ยนเป็น response.data.cart.items เพื่อเข้าถึงรายการสินค้าในตะกร้าโดยตรง
        console.log(this.cartItems.items)
        console.log(this.cartItems)
      } catch (error) {
        console.error('Failed to fetch cart data:', error.response || error.message);
        // Handle error fetching cart data
      }
    },
  }
};
</script>

<style scoped>
.title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #3f51b5;
}

.empty-cart {
  text-align: center;
  font-size: 1.2em;
  color: #757575;
  margin-top: 50px;
}

.product-details p {
  margin: 0;
  font-size: 0.9em;
}

.v-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.v-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
</style>

