<template>
  <div class="login-container">
    <h2>Login</h2>
    <form @submit.prevent="handleLogin">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" v-model="username" id="username" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" v-model="password" id="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <!-- <button @click="openSignUpDialog" class="btn-signup">Sign Up</button> -->

    <div v-if="showSignUpDialog" class="dialog">
      <h2>Sign Up</h2>
      <form @submit.prevent="handleSignUp" class="signup-form">
        <div class="form-group">
          <label for="newUsername">Username:</label>
          <input type="text" v-model="newUsername" id="newUsername" class="form-input" required />
        </div>
        <div class="form-group">
          <label for="newPassword">Password:</label>
          <input type="password" v-model="newPassword" id="newPassword" class="form-input" required />
        </div>
        <div class="form-group">
          <label for="newPassword">Frist Name:</label>
          <input type="password" v-model="newPassword" id="newPassword" class="form -input" required />
        </div>
        <div class="form-group">
          <label for="newPassword">Last Name:</label>
          <input type="password" v-model="newPassword" id="newPassword" class="form-input" required />
        </div>
        <button type="submit" class="btn-signup-dialog">Sign Up</button>
        <button @click="closeSignUpDialog" class="btn-cancel">Cancel</button>
      </form>
    </div>
  </div>  
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      username: '',
      password: '',
      newUsername: '',
      newPassword: '',
      showSignUpDialog: false
    };
  },
  methods: {
    async handleLogin() {
      try {
        const response = await axios.post('http://localhost:3000/api/v1/login', {
          username: this.username,
          password: this.password
        });

        if (response.data.success) {
          console.log('Login successful');
          console.log('Token:', response.data.token);
          // Store the token, for example in localStorage
          localStorage.setItem('token', response.data.token);

          alert('Login successful');
          // Redirect to the productDetail page after login
          this.$router.push({ name: "productdetail" });
        } else {
          console.error('Login failed:', response.data.message);
          alert('Login failed: ' + response.data.message);
        }
      } catch (error) {
        console.error('An error occurred during login:', error);
        alert('An error occurred. Please try again.');
      }
    },
    async handleSignUp() {
      try {
        const response = await axios.post('http://localhost:3000/api/v1/register', {
        firstname: this.firstname,
        lastname: this.lastname,
        username: this.username,
        password: this.hashPassword,
        });

        if (response.data.success) {
          console.log('Sign up successful');
          alert('Sign up successful');
          this.closeSignUpDialog();
        } else {
          console.error('Sign up failed:', response.data.message);
          alert('Sign up failed: ' + response.data.message);
        }
      } catch (error) {
        console.error('An error occurred during sign up:', error);
        alert('An error occurred. Please try again.');
      }
    },
    openSignUpDialog() {
      this.showSignUpDialog = true;
    },
    closeSignUpDialog() {
      this.showSignUpDialog = false;
    }
  }
};
</script>

<style scoped>
.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 0.75em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
</style>
