<template>
  
  <body>
    
    <!-- <v-container class="container"> -->
    <h1>My Profile</h1>
    <div class="Profile">
      <cardpic />
    </div>
    <v-container class="container">
      <div class="row">
        <div class="col-md-6">
          <v-card class="user-card">
            <v-card-text>
              <v-list>
                <h2>ประวัติส่วนตัว</h2>
                <v-list-item>
                  <!-- <h1>ประวัติส่วนตัว</h1> -->
                  <div class="item-title">ชื่อ: นายเพ็ญเพชญ รัตนวงศ์</div>
                </v-list-item>
                <v-list-item>
                  <div class="item-title">ชื่อเล่น: ต้า</div>
                </v-list-item>
                <v-list-item>
                  <div class="item-title">
                    จบมาจาก: มหาวิทยาลัยสงขลานครินทร์
                  </div>
                </v-list-item>
                <v-list-item>
                  <div class="item-title">
                    สาขา: เทคโนโลยีสารสนเทศ (ต่อเนื่อง)
                  </div>
                </v-list-item>
                <v-list-item>
                  <div class="item-title">
                    งานอดิเรก: ร้องเพลง เล่นเกม ฟังเพลง เล่นกีต้าร์ ไปเที่ยว
                  </div>
                </v-list-item>
              </v-list>
            </v-card-text>
          </v-card>
        </div>
        <div class="col-md-6">
          <v-card class="user-card">
            <v-card-text>
              <v-list>
                <h2>ช่องทางติดต่อ</h2>
                <v-list-item>
                  <v-icon>mdi-phone</v-icon>
                  <div class="item-title">: 0641461214</div>
                </v-list-item>
                <v-list-item>
                  <v-icon>mdi-facebook</v-icon>
                  <div class="item-title">: Tar Penpatch</div>
                </v-list-item>
                <v-list-item>
                  <v-icon>mdi-instagram</v-icon>
                  <div class="item-title">: tar_penpatch</div>
                </v-list-item>
                <v-list-item>
                  <v-icon>mdi-github</v-icon>
                  <div class="item-title">: bahoy205</div>
                </v-list-item>
              </v-list>
            </v-card-text>
          </v-card>
        </div>
      </div>
    </v-container>
  </body>
</template>

<script>
import cardpic from "../components/CardImg.vue";
export default {
  components: {
    cardpic,
  },
};
</script>

<style>
.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #be3a3a;
}

.user-card {
  width: 800px;
}

/* .user-card1{
    background-color: black;
    width: 800px;
    display: flex;
    justify-content: center;
} */

.item-title {
  font-size: 20px;
}
body {
  /* background-color: #92a8d1; */
  background-image: url(https://images.pexels.com/photos/3137068/pexels-photo-3137068.jpeg);
  position: static;
  /* text-align: center; */
  padding-top: 30px;
  /* height:650px; */
}
</style>
