<template>
  <div>
    <v-container fluid>
      <!-- <v-select  label="ประเภทสินค้า" v-model="postdata.productType" :items="type"></v-select> -->
      <!-- เพิ่มพื้นหลังสีเพื่อเน้นหัวข้อ -->
      <h1 class="headline text-center my-6">Product Details</h1>
      <div>
        <v-btn color="success" @click="newItem()">New Item</v-btn>
      </div>
      <v-row justify="center">
        <v-col cols="12">
          <v-divider class="my-4"></v-divider>
        </v-col>
      </v-row>
      <!-- <div>
        <v-row justify="center" class="mb-4">
        <v-col cols="12" class="text-center">
          <v-menu offset-y left>
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">
                ประเภทสินค้า
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-for="(product, index) in apidata" :key="index">
                <v-list-item-title>{{ product.type }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>
      
      </div> -->
      <v-row justify="center">
        <v-col cols="12" md="4" v-for="(item, index) in apidata" :key="index">
          <!-- เพิ่มการเรียงตัวอักษรและเส้นขอบเพื่อเพิ่มความสวยงาม -->
          <v-card class="mb-6" max-width="400" outlined color="grey lighten-4">
            <!-- <v-img src="../assets/cat.jpg" aspect-ratio="2"></v-img> -->
            <v-img v-bind:src="item.img" aspect-ratio="2"></v-img>
            <v-card-title class="headline font-weight-bold">{{
              item.productName
            }}</v-card-title>
            <v-card-text>
              <div class="caption">ราคา: {{ item.price }}</div>
              <!-- <div class="caption">ประเภทสินค้า: {{ item.type }}</div> -->
              <div class="caption">จำนวน: {{ item.amount }}</div>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn text color="info" @click="editItem(item)">Edit</v-btn>
              <v-btn color="error" @click="deleteItem(item._id)">Delete</v-btn>
              <v-btn text color="info" @click="buyItem(item)">Buy</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialogEdit" max-width="500px">
      <v-card>
        <v-card-title class="headline font-weight-bold"
          >Add Product</v-card-title
        >
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="ชื่อสินค้า"
                v-model="postdata.productName"
              ></v-text-field>
              <!-- <v-select  label="ประเภทสินค้า" v-model="postdata.productType" :items="type"></v-select> -->
              <!-- <v-text-field
                label="ประเภทสินค้า"
                v-model="postdata.type"
              ></v-text-field> -->
              <!-- <v-select :items="items" label="Standard"></v-select> -->
              <v-text-field
                label="ราคา"
                v-model="postdata.price"
                type="number"
              ></v-text-field>
              <v-text-field
                label="จำนวน"
                v-model="postdata.amount"
                type="number"
              ></v-text-field>
              <v-text-field
                label="รูปภาพ"
                v-model="postdata.img"
                type="string"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeDialog()">Cancel</v-btn>
          <v-btn text color="info" @click="saveData()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogBuy" max-width="500px">
      <v-card b>
        <v-card-title class="headline font-weight-bold"
          >Add to Cart</v-card-title
        >
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Quantity"
                v-model="postdata.quantity"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeDialog()">Cancel</v-btn>
          <v-btn text color="info" @click="addToCart()">Add to Cart</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import axios from "../axios.js";

export default {
  data() {
    return {
      id: "",
      apidata: [],
      dialogEdit: false,
      dialogBuy: false, // เพิ่ม dialogBuy
      postdata: {
        productName: "",
        price: "",
        amount: "",
        img: "", // Add imageURL to receive the URL of the image
        // type: "",
      },

      // type: ['น้ำ', 'ขนม', 'อาหารแช่แข็ง'],
    };
  },
  created() {
    this.getData();
    this.test();
  },
  methods: {
    test() {
      console.log(this.postdata);
    },

    getAuthHeader() {
      const token = localStorage.getItem("token");
      return token ? { Authorization: `Bearer ${token}` } : {};
    },
    async getData() {
      try {
        const response = await axios.get("/products", {
          headers: this.getAuthHeader(),
        });
        this.apidata = response.data;
      } catch (error) {
        console.error("Failed to fetch data:", error.response || error.message);
        alert("Failed to fetch data");
      }
    },
    newItem() {
      this.id = "";
      this.postdata = {
        productName: "",
        price: "",
        amount: "",
        img: "",
        // type: "",
      };
      this.dialogEdit = true;
    },
    buyItem(item) {
      this.id = item._id;
      // this.postdata = { ...item };
      this.dialogBuy = true; // เปิด dialogBuy เมื่อคลิกที่ปุ่ม "buy"
    },
    editItem(item) {
      this.id = item._id;
      this.postdata = { ...item };
      this.dialogEdit = true;
    },
    closeDialog() {
      this.id = "";
      this.dialogEdit = false;
    },

    async addToCart() {
      try {
        if (this.postdata.quantity <= 0 || isNaN(this.postdata.quantity)) {
          alert("Please enter a valid quantity.");
          return;
        }

        // เพิ่มข้อมูลสินค้าเข้าตะกร้า
        await axios.post(
          "/products/cart",
          {
            productId: this.id,
            quantity: this.postdata.quantity,
            userId: this.userId, // เพิ่ม userId ที่ต้องการส่งไป
          },
          {
            headers: {
              "Content-Type": "application/json",
              ...this.getAuthHeader(),
            },
          }
        );

        alert("Product added to cart");
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to add product to cart:",
          error.response || error.message
        );
        alert("Failed to add product to cart");
      }
    },

    async saveData() {
      if (this.id) {
        this.updateData();
      } else {
        this.createData();
      }
    },

    async createData() {
      try {
        await axios.post("/products", this.postdata, {
          headers: this.getAuthHeader(),
        });
        alert("Creation complete");
        this.getData();
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to create data:",
          error.response || error.message
        );
        alert("Failed to create data");
      }
    },
    async updateData() {
      try {
        await axios.put(`/products/${this.id}`, this.postdata, {
          headers: this.getAuthHeader(),
        });
        alert("Update complete");
        this.getData();
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to update product:",
          error.response || error.message
        );
        alert("Failed to update product");
      }
    },
    async deleteItem(id) {
      try {
        if (confirm("Delete this item?")) {
          await axios.delete(`/products/${id}`, {
            headers: this.getAuthHeader(),
          });
          alert("Deletion complete");
          this.getData();
        }
      } catch (error) {
        console.error(
          "Failed to delete data:",
          error.response || error.message
        );
        alert("Failed to delete data");
      }
    },
    // async cart(id) {
    //   try {
    //     if (confirm("Delete this item?")) {
    //       await axios.delete(`/products/cart${id}`, {
    //         headers: this.getAuthHeader(),
    //       });
    //       alert("Deletion complete");
    //       this.getData();
    //     }
    //   } catch (error) {
    //     console.error(
    //       "Failed to delete data:",
    //       error.response || error.message
    //     );
    //     alert("Failed to delete data");
    //   }
    // },
  },
};
</script>


<style >
.btn-action {
  margin-left: 130px;
}
h1 {
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}
</style>
