<template>
  <div>
    <!-- <h1 v-if="show"> -->
        <!-- Simpale page -->
        <!-- {{ data }} -->
    <!-- </h1> -->
    <!-- <ul>
      <li v-for="(item,index) in items" :key="index">
        {{ item.message }}

      </li>
    </ul> -->
    
    <!-- {{ data }} -->

    <!-- <v-btn
      color="success" @click="display()">show</v-btn> -->
   
      <v-flex xs4>
        <v-text-field 
        v-model="email"
        label="E-mail"
        prepend-icon="mdi-email"
        id="email">
      </v-text-field>
      </v-flex>
      <v-flex xs4>
        <v-text-field
        v-model="password"
        label="Password"
        prepend-icon="mdi-lock"
        id="password">
      </v-text-field>
      </v-flex>
      <v-btn
      color="success" @click="callAlert()">Signin</v-btn>
      <v-col cols="12">
        <simcom :name="name"/>
      </v-col>
  </div>
</template>

<script>
import { EventBus } from '@/EvenBus';
import simcom from '../components/SimpaleComponent.vue'
// import { EventBus } from '@/EventBus'
export default {
  components:{
    simcom
  },
  // data: () => ({
  //   data: 'Simpale'
  // })

  // data(){
  //   return{
  //     data:'Hello from Simepale',
  //     show: false,
  //     items: [{message:'Foo'},{message:'Bar'}]
  //   }
  // }
  // methods:{
  //   display(){
  //     alert('Display Function Alert')
  //   }
  // }
  data(){
    return{
      name:'Penpatch',
      email:'',
      // password:''
    }
  },
  mounted(){
    EventBus.$on('MainCallAlert', this.callAlert)
  },
  methods:{
    callSim(){
      EventBus.$emit('SimComCallAlret')    
    }
  },
  callAlert(){
    alert('โฮ่ง')
  }
  // methods:{
  //   signin (){
  
  //     alert(this.email)
  //   }
  // }
}
</script>

<style>

</style>