<template>
    <button color="success" @click="showAlert()">Hello world</button>
  </template>
  
  <script>  
  import Swal from 'sweetalert2';





  export default {
    methods: {
      showAlert() {
        Swal.fire("Hello world");
      },
    },
  };
  </script>