<template>
  <v-app>
    <v-app-bar app class="custom-toolbar" dark>
      <!-- Products List Button -->
      <v-btn text @click="redirectToProducts"> รายการสินค้า </v-btn>

      <v-spacer></v-spacer>

      <!-- Cart Icon -->
      <!-- <v-btn icon @click="showCart = true">
        <v-icon>mdi-cart</v-icon>
      </v-btn> -->
      <v-tab>
        <v-badge overlap color="green" :content="cartItems.length">
          <v-btn icon @click="showCart = true">
            <v-icon>mdi-cart</v-icon>
          </v-btn>
        </v-badge>
      </v-tab>

      <!-- User Display -->
      <v-menu offset-y :close-on-content-click="false">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text v-bind="attrs" v-on="on">
            <v-icon left>mdi-account</v-icon>
            {{ username }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="logout">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>

    <!-- Dialog สำหรับแสดงรายการสินค้าในตะกร้า -->
    <v-dialog v-model="showCart" max-width="50%">
      <v-card>
        <v-card-title>
          <span class="headline">Cart Items</span>
        </v-card-title>
        <div v-if="cartItems.length === 0">No items in the cart.</div>
        <div v-else>
          <v-row>
            <v-col
              v-for="(cart, index) in cartItems"
              :key="index"
              cols="12"
              class="card-item"
            >
              <v-card class="order-card" width="100%">
                <v-row align="center">
                  <v-col cols="4">
                    <v-img src="../assets/cat.jpg"></v-img>
                  </v-col>
                  <v-col cols="8">
                    <v-card-text
                      class="item-details"
                      v-for="item in cart.items"
                      :key="item._id"
                    >
                      <p>
                        <strong>Product Name:</strong> {{ item.productName }}
                      </p>
                      <p><strong>Total:</strong> {{ item.total }}</p>
                      <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                      <p><strong>Status:</strong> {{ cart.status }}</p>
                      <!-- Add more fields as needed -->
                    </v-card-text>
                    <v-col cols="12" class="delete-btn-col">
                      <v-btn @click="deleteCart(cart._id)" color="error"
                        >Delete</v-btn
                      >
                    </v-col>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <v-col cols="12" class="delete-btn-col">
              <v-btn @click="deleteAll()" color="error">Clear All</v-btn>
            </v-col>
          </v-row>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="showCart = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import axios from "axios";
import jwtDecode from "jwt-decode";

export default {
  data() {
    return {
      username: "", // Variable to hold the username
      showCart: false, // Variable to control the display of the cart dialog
      cartItems: [],
      num: 10, // Example cart items, replace with actual data
    };
  },
  created() {
    this.getUsernameFromToken(); // Fetch the username when the component is created
    this.fetchCartData(); // Fetch cart data when the component is created
  },
  methods: {
    getUsernameFromToken() {
      const token = localStorage.getItem("authToken"); // Adjust this to where your token is stored
      if (token) {
        const decodedToken = jwtDecode(token);
        this.username = decodedToken.username; // Adjust this to the actual key in your token
      }
    },
    redirectToProducts() {
      this.$router.push("/productdetail"); // Adjust this to your products route
    },
    logout() {
      localStorage.removeItem("authToken"); // Adjust this to your logout logic
      this.$router.push("/login"); // Adjust this to your login route
    },
    getAuthHeader() {
      // console.log(token)
      const token = localStorage.getItem("token");
      console.log(token);
      return token ? { Authorization: `Bearer ${token}` } : {};
    },
    async deleteCart(id) {
      try {
        if (confirm("Delete this cart?")) {
          await axios.delete(`/cart/${id}`, {
            headers: this.getAuthHeader(),
          });
          alert("Deletion complete");
          this.fetchCartData();
          // this.getData(); // คำสั่งนี้อาจต้องการการปรับเปลี่ยนตามโครงสร้างของโปรแกรมของคุณ
        }
      } catch (error) {
        console.error(
          "Failed to delete data:",
          error.response || error.message
        );
        alert("Failed to delete data");
      }
    },
    async deleteAll() {
      try {
        if (confirm("Delete this cart?")) {
          await axios.delete(`/wanting/`, {
            headers: this.getAuthHeader(),
          });
          alert("Deletion complete");
          this.fetchCartData();
          // this.getData(); // คำสั่งนี้อาจต้องการการปรับเปลี่ยนตามโครงสร้างของโปรแกรมของคุณ
        }
      } catch (error) {
        console.error(
          "Failed to delete data:",
          error.response || error.message
        );
        alert("Failed to delete data");
      }
    },
    async fetchCartData() {
      try {
        const response = await axios.get("/cart", {
          headers: this.getAuthHeader(),
        });
        this.cartItems = response.data; // เปลี่ยนเป็น response.data.cart.items เพื่อเข้าถึงรายการสินค้าในตะกร้าโดยตรง
        console.log(response.data);
      } catch (error) {
        console.error(
          "Failed to fetch cart data:",
          error.response || error.message
        );
        // Handle error fetching cart data
      }
    },
  },
};
</script>

<style>
.custom-toolbar {
  background-color: #4caf50; /* Custom color */
}
.cart-item {
  display: flex;
  height: 100px;
}
.order-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.item-details p strong {
  font-weight: bold;
  color: #555;
}
</style>
