<template>
  <div class="cards">
      <!-- ------------------------- -->
      <v-row class="config-cards">
          <!-- <v-col cols="3">
              <v-card width="250">
                  <v-img
                      src="https://www.aljazeera.com/wp-content/uploads/2023/06/AP23171755115969-1687309761.jpg?resize=770%2C513&quality=80"
                      width="250" height="300" />
                  <v-card-title primary-title> โรนัลโด้ </v-card-title>
              </v-card>
          </v-col> -->
          <v-col >
              <v-card width="250">
                  <v-img class="img"
                      src="../assets/Profile.jpg"/>
                  <!-- <v-card-title> ฮง อึนแชร์ </v-card-title> -->
              </v-card>
          </v-col>
      </v-row>

      <!-- ------------------------- -->
  </div>
</template>

<script>
export default {};
</script>

<style>
  .cards {
      margin-top: 2rem;
      margin-bottom: 2rem;
      /* padding-right: 2rem; */
      /* display: flex;
      justify-content: center; */
  }
</style>