<template>
  <div>
  <h1>Sipmle Component Zone</h1>
  <h1>{{name}}</h1>
  <v-btn color="success" @click="callMain()">callMain</v-btn>
</div>
</template>

<script>
import { EventBus } from '@/EvenBus';

export default {
  props:['name'],
  mounted(){
    EventBus.$on('SimComCallAlert', this.SimComAlert)
  },
  methods: {
    callMain(){
      EventBus.$emit('MainCallAlert')
    },
    SimComAlert(){
      alert('เหมี๊ยว')
    }
  },
}
</script>

<style>

</style>